@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br /><br />
<div class="jumbotron">
    <h1 class="display-4">Asset Tracker</h1>
    <p class="lead">
        Welcome to Asset Tracker located in Calgary, helping in tracking your assets.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Asset Tracker  was established in the 2020 for upgrading their tracking system from tracking assets in a spreadsheet to tracking through web.
            Our tool will help in tracking fixed assets.The assets that are currently being tracked include desktop computers, computer monitors, and phones.  
        </p>
    </div>
</div>
